.PlaylistMood {
    background-color: #E7E8DF;
}

.PlaylistMood-content {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

.PlaylistMood-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.PlaylistMood-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

@media (max-width: 520px) {
    .PlaylistMood-title {
        font-size: 33px;
    }
}